* {
    box-sizing: border-box;
}

body {
    margin: none;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Ubuntu Mono", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background: #ececec;
}

.login {
    width: 430px;
    height: 700px;
    padding: 60px 30px 30px 30px;
    border-radius: 40px;
    background: #ececec;
    box-shadow: 11px 11px 30px #c9c9c9, -11px -11px 30px #ffffff;
}

.logo {
    margin: auto;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(145deg, #fdfdfd, #d4d4d4);
    box-shadow: 7px 7px 14px #9c9c9c, -7px -7px 14px #ffffff;

    img {
        width: 100px;
        height: 100px;
        filter: brightness(0.3);
        transition: all 0.3s ease 0s;
        &:hover {
            transform: rotate(5deg);
            filter: brightness(0.2);
        }
    }
    transition: all 0.3s ease 0s;
    &:hover {
        transform: rotate(5deg);
    }
    border-radius: 50%;
}


.title {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    letter-spacing: 0.5px;
    font-weight: bold;
    text-transform: uppercase;
}

.subtitle {
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

